<% title "Report History" %>
<%= set_menu_item("report_history_link") %>

<div style="width: 100%; overflow: auto;">
	<% if current_user.organization.all_children %>
		<div style="float: left; margin-right: 2em;"><strong>Organization: </strong><%= (select_tag 'selected_organization', options_from_collection_for_select(@organizations, "id", "name", @current_organization.id))  %></div>
	<% end %>
	<div style="float: left; margin-right: 2em;"><strong>Report: </strong><%= select_tag 'selected_report', (@current_organization.reports ? options_from_collection_for_select(@current_organization.reports, "id", "name", @report.id): []) %></div>
	<div style="float: left; margin-right: 2em;"><strong>User: </strong><%= current_user.username %></div>
</div>


<div id="report_history_table">
	<%= render :partial => 'report_submissions' %>
</div>
<%= observe_field(:selected_organization, :on => :selected, :update => :selected_report, :with => 'organization_id', :frequency => 0.5, :url => {:action => :getReports}) %>
<%= observe_field(:selected_report, :on => :selected, :update => :report_history_table, :with => 'report_id', :frequency => 0.5, :url => {:action => :getReportHistory}) %>