<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Phonenumber</th>
    <th>Cel User</th>
    <th>Organization</th>
    <th>Role</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%=h user.username %></td>
      <td><%=h user.email %></td>
      <td><%=h user.phonenumber %></td>
      <td><%=h user.cel_user_id %></td>
      <td><%=h user.organization_id %></td>
      <td><%=h user.role_id %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
