<% title "USER - #{@user.username}" %>
<%= set_menu_item (current_user.id==@user.id ? "account_link" : "staffing_link") %>

<p>
  <strong>Username:</strong>
  <%=h @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Phonenumber:</strong>
  <%=h @user.phonenumber %>
</p>
<p>
  <strong>Cel User:</strong>
  <%=h @user.cel_user_id %>
</p>
<p>
  <strong>Organization:</strong>
  <%=h @user.organization.name if @user.organization %>
</p>
<p>
  <strong>Role:</strong>
  <%=h @user.role %>
</p>

<p>
  <% if current_user.can_edit?(@user) %>
  	<%= link_to "Edit", edit_user_path(@user), :class => "command" %>
  <% end %>
  <%= link_to "View Staff", users_path, :class => "command" %>
</p>
