<% title "Listing Organizations" %>
<%= set_menu_item("organizations_link") %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Abbreviation</th>
    <th>Actions</th>
  </tr>
  <% for organization in @organizations %>
    <tr>
      <td><%= link_to h(organization.name), organization %></td>
      <td><%=h organization.address %></td>
      <td><%=h organization.city %></td>
      <td><%=h organization.state %></td>
      <td><%=h organization.zip %></td>
      <td><%=h organization.abbreviation %></td>
      <% if current_user.can_edit?(organization) %>
      	<td><%= link_to "Edit", edit_organization_path(organization) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user.role_id==0 || current_user.role_id==1 %>
	<p><%= link_to "New Org.", new_organization_path, :class => "command" %></p>
<% end %>
