<% title "#{h(@report.name)} - <small>#{(h @report.start_date.to_s(:short))} to #{(h @report.end_date.to_s(:short))}</small>" %>
<%= set_menu_item("reports_link") %>

<p style="margin: 0;">
  <strong>Description:</strong>
  <%=h @report.description %>
</p>
<div style="margin-top: 0.25em; width: 100%; overflow: auto;">
<p style="float: left; margin-right: 1em; margin-top: 0;">
  <strong>Active:</strong>
  <%=h @report.active %>
</p>
<p style="float: left; margin-right: 1em; margin-top: 0;">
  <strong>Created By:</strong>
  <%=h @report.creator.username %>
</p>
<p style="float: left; margin-top: 0;">
  <strong>Organization:</strong>
  <%=h @report.organization.name %>
</p>
</div>

<h3>Report Preview</h3>  
<div id="report_preview">
	<%= render :partial => 'report', :object => @report, :locals => {:edit => false} %>
</div>

<p>
  <%= link_to "Edit", edit_organization_report_path(@organization, @report), :class => "command" %>
  <%= link_to "List Reports", organization_path(@organization), :class => "command" %>
</p>
