<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%= "CCC Reports :: " + yield(:title) || "Untitled"%></title>
		<%= stylesheet_link_tag 'main' %>
		<%= javascript_include_tag :all %>
		<%= yield(:head) %>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo_header"><%= image_tag('logo_header.png') %></div>
				<div id="page_header_wrapper">
					<div id="info_box_header"><%= current_user ? current_user.username : (link_to "Login", login_path) %><span style="float: right;"><%= Date.today.to_s(:short) %></div>
					<div id="page_title">
						<%- if show_title? -%>
							<h1><%= yield(:title) %></h1>
						<%- end %>
					</div>
				</div>
			</div>
			<div id="container">
				<div id="sidebar_wrapper">
					<div id="sidebar">
						<ul>
							<% if current_user %>
								<li id="submit_report_link"><%= link_to "SUBMIT REPORT", new_report_submission_path %></li>
								<li id="report_history_link"><%= link_to "REPORT HISTORY", report_submissions_path %></li>
								<li id="reports_link"><%= link_to "VIEW REPORTS", organization_reports_path(current_user.organization) %></li>
								<li id="staffing_link"><%= link_to "STAFFING", users_url %></li>
								<li id="organizations_link"><%= link_to "ORGANIZATIONS", organizations_path %></li>
								<li id="account_link"><%= link_to "MY ACCOUNT", user_url(current_user) %></li>
							<% end %>
						</ul>
					</div>
					<div id="sidebar_footer">
						<%=image_tag "sidebar_footer_new.png" %>
						<div id="sidebar_footer_content">
							<ul>
								<li id="about_link"><%= link_to "About", "" %></li>
							<% if current_user %>
								<li id="help_link"><%= link_to "Help", "" %></li>
								<li><%= link_to "Logout", logout_url %></li>
							<% else %>
								<li id="login_link"><%= link_to "Login", login_url %></li>
							<% end %>
							</ul>
						</div>
						<%=image_tag "sidebar_footer_bottom.png" %>
					</div>
				</div>
				
				<div id="content">
					<%- flash.each do |name, msg| -%>
						<%= content_tag :div, msg, :id => "flash_#{name}" %>
					<%- end -%>
					
					<%= yield %>
					<div style="clear: both; height: 0;"></div>
				</div>
				
				<div id="footer">
					Developed by Tim Anderegg
					<br />For the Center for Community Change (www.communitychange.org)
				</div>
			</div>
		</div>
	</body>
</html>